.modal {
    display: none;
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);

}

.modal-content {
    background-color: ghostwhite;
    border-radius: 8px;
    margin: 20% auto;
    max-width: 25%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    animation-name: modalopen;
    animation-duration: 0.5s;
    padding: 10px 20px;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.modal-body {
    text-align: center;
}

.close-btn {
    display: flex;
    border-radius: 50%;
    background-color: #eee;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    font-size: 16px;
    font-weight: 300;
    color: grey;
    cursor: pointer;
}