body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

.container {
    min-width: 500px;
    display: flex;
    flex-direction: column;
}

.header .result {
    text-align: center;
}

.scoreboard-container {
    display: flex;
    justify-content: space-between;
}

/* .player,
.computer {

} */

.signs {
    display: flex;
    gap: 2em;
    justify-content: center;
}

.sign-imgs {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.restartBtn-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.restartBtn {
    display: none;
    flex: 1;
    margin-top: 5px;
}

.computer-sign {
    transform: scaleX(-1);
}

.VS {
    align-self: center;
}

button {
    position: relative;
    background-color: white;
    border: 1px solid black;
    box-shadow: 0px 5px 8px rgba(0,0,0,0.2);
    padding: 8px 20px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}


img {
    max-width: 150px;
    min-height: 97.43px;
}


footer {
    margin-top: auto;
}

@keyframes modalopen {
    from {opacity: 0}
    to {opacity: 1}
}