body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

.container {
    min-width: 500px;
    display: flex;
    flex-direction: column;
}

.scoreboard-container {
    display: flex;
    justify-content: space-between;
}

/* .player,
.computer {

} */

.signs {
    display: flex;
    gap: 2em;
    justify-content: center;
}

.sign-imgs {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.restartBtn-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.restartBtn {
    display: none;
    margin-right: 25px;
}

.computer-sign {
    transform: scaleX(-1);
}

.VS {
    align-self: center;
}

button {
    padding: 8px 20px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    border: none;
}

button:hover {
    background: purple;
    color: white;
}

img {
    max-width: 150px;
    min-height: 97.43px;
}
